<%= javascript_include_tag "admin"%>
<%= stylesheet_link_tag "manage" %>
<div class="w960">
	<h2 class="maintitle">MANAGE YOUR SITES</h2>
<br class="clear">
<div id="leftboxes_container">
	<div id="leftbox">
		asdf
		<div class="clear"></div>
	</div>
	
	<div id="leftbox1">
		adfasdfasdf
		asdfasdfasdf <br />
		asdf
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div id="rightbox">	
	<img src="/images/preview1.jpg">
	<a href="" class="right" style="margin-top:20px";>Preview</a>
</div>


