.target_container{
	float: left;
	width: 60px;
	margin: 8px 0 0 0 ;
}

.qq-uploader { position:relative;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 60px; /*padding: 7px 0; text-align:center;  */  
    background:url('/images/smalldrop.jpg') no-repeat; color:#fff;
		text-indent: -9000px;
			height: 50px;
/*		float: left;*/
}
.qq-upload-button-hover {
	background:-webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#E9E9E9));
	background: -moz-linear-gradient(top,  #F9F9F9,  #E9E9E9);
	text-indent: 0px;
	color: #202020;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #CCC;
}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
	position:absolute; top:0px; left:0px; width:200px; height:100%; min-height: 90px; z-index:2;
    background:#ffd6c4; text-align:center; border: 2px dashed #ff641e;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("/images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}