/* TYPOGRAPHY---------------------------------------------------------------------- */
#logotype{
		letter-spacing: 		0.1em;
		font-size:				20px;
}
/* STRUCTURE---------------------------------------------------------------------- */
#whitestrip{
		background-color:	 	white;
		height:					240px;
		width: 					100%;
		padding-top: 			50px;
		padding-bottom: 		50px;
		position: 				relative;
}
#video{
		padding: 				7px 7px 7px 7px;
		background-color: 		white;
		-moz-box-shadow: 		0px 0px 3px #cccccc;
		-webkit-box-shadow: 	0px 0px 3px #cccccc;
		box-shadow: 			0px 0px 3px #cccccc;
		position:				absolute;
		top:					60px;
		z-index:				2;
}
#upload_zone{
		padding:				30px;
		background-color:		white;
		border-style:			dashed;
		border-width:			1px;
		border-color:			#CCCCCC;
		float: left;
}
.bullet{
		margin-right:			10px;
		float: left;
}
/* UTILITY---------------------------------------------------------------------- */

/* CUSTOM LAYOUT---------------------------------------------------------------------- */
