/* TYPOGRAPHY---------------------------------------------------------------------- */
#logotype{
		letter-spacing: 		0.1em;
		font-size:				20px;
}
/* FORMS---------------------------------------------------------------------- */
input{
		font-size:				14px;
}
input[type=text]{
		-moz-border-radius: 	2px; 
		-webkit-border-radius: 	2px; 
		border-radius: 			2px;
		border:					1px solid #DDD;
		height:					24px;
		padding:				3px 6px 3px 6px;
}
::-webkit-input-placeholder {
		color:					#DDD;
		padding: 				6px;
}
input:-moz-placeholder {
		color:					#DDD;
    	margin-left:			6px;
}
input[type=submit]{
		background-color: 		#DDD;
		display:				inline-block;
		margin-left: 			5px;
		padding:				5px 10px 6px 10px;
		color:					#000;
		font-weight:			bold;
		text-decoration:		none;
		-moz-border-radius:		2px; 
	   	-webkit-border-radius:	2px; 
	   	border-radius:			2px;
		border:					1px solid #CCC;
	   	background:				-webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
		background: 			-moz-linear-gradient(top,  #FFF,  #EEE);
		cursor:					pointer;
}
/* STRUCTURE---------------------------------------------------------------------- */
#whitestrip{
		background-color:	 	white;
		height:					240px;
		width: 					100%;
		padding-top: 			50px;
		padding-bottom: 		50px;
		position: 				relative;
}
#video{
		padding: 				7px 7px 7px 7px;
		background-color: 		white;
		-moz-box-shadow: 		0px 0px 3px #cccccc;
		-webkit-box-shadow: 	0px 0px 3px #cccccc;
		box-shadow: 			0px 0px 3px #cccccc;
		position:				absolute;
		top:					60px;
		z-index:				2;
}
#upload_zone{
		padding:				30px;
		background-color:		white;
		margin-left:			10px;
		border-style:			dashed;
		border-width:			1px;
		border-color:			#CCCCCC;
		float: left;
}
#subdomain{
		margin-left:			10px;
		float: left;
}
/* UTILITY---------------------------------------------------------------------- */

/* CUSTOM LAYOUT---------------------------------------------------------------------- */
