/* STRUCTURE---------------------------------------------------------------------- */

#leftboxes_container{
	margin:					100px 0 0 0;
	width:					460px;
	float:					left;
	display:				inline-table;
	position:				relative;
	background:				url('/images/manage_bg.jpg');
	-moz-box-shadow: 		2px 0px 3px #ccc;
	-webkit-box-shadow: 	2px 0px 3px #ccc;
	box-shadow: 			2px 0px 3px #ccc;
}



#leftboxes_container .col_left{
	width:					220px;
	float:					left;
/*	z-index: 				200;*/
}
#leftboxes_container .col_right{
	width:					240px;
	float:					left;
}

#rightbox{
	width:					460px;
	height:					300px;
	float:					right;
	margin:						100px 0 0 0 ;
	background-color: 		white;
	overflow: hidden;
	-moz-box-shadow: 		0px 0px 8px #ccc;
	-webkit-box-shadow: 	0px 0px 8px #ccc;
	box-shadow: 			0px 0px 8px #ccc;
}
.headerbar{
	width:					200px;
	height:					28px;
	background-color: 		#ff641e;
	color:					white;
	padding-left: 			20px;
	padding-top:			8px;
}
.headerbar2{
	width:					220px;
	background-color: 		#ff641e;
	opacity:				.5;
}

#leftbox ul{
	padding-top: 			35px;	
}

#leftboxes_container .col_left ul li{
	margin: 				0px 20px 0px 20px;
	font-size: 				18px;
	border-bottom: 			1px solid #ccc;
}

#leftboxes_container .col_left .subdomain_link a{
	display: block;
	position: relative;
	left: -20px;
	width: 180px;
	padding: 20px 20px 20px 20px;
}

#leftboxes_container .col_left .subdomain_link a:hover{
	background-color: 		#fee4d5;
}

#leftboxes_container .col_left ul #head{
	background-color: red;
}

#leftboxes_container .col_left ul {
	display: 				block;
}


#leftboxes_container .col_left ul .last{
	padding: 20px 0 20px 0 ;
	border-bottom: 0px;
}
input[type=text] {
    font-size: 				18px;
    color: 					#ffd4c0;
    padding: 				10px;
    width:					140px;
    display: 				inline;
}

input::-webkit-input-placeholder {
  color: 					#ffd4c0;
}

#leftboxes_container .col_right ul{
	float: 					left;
}

#leftboxes_container .col_right ul li{
	width:					200px;
	margin: 				0px 20px 0px 20px;
	padding:				10px 0px 10px 0;
	font-size: 				12px;
	border-bottom: 			1px solid #ccc;
}
#leftboxes_container .col_right1 ul .last{
	border-bottom: 			none;
}

#leftboxes_container .col_right ul li:first-child{
	margin: 				0px;
	width:					220px;
	padding-bottom:			19px;
	margin-bottom:			10px;
	padding-left:			20px;
	padding-top:			18px;
	font-size: 				12px;
	float: 					left;
}

#leftboxes_container .col_right ul li:last-child{
	border: none;
}

#leftboxes_container .col_right ul li img{
	float: 					left;
	width:					60px;
}
#leftboxes_container .col_right ul li p{
	float: 					right;
	width:					133px;
	font-size: 				11px;
	line-height: 			140%;
	color:					#999;
	margin-right:			7px;
}

#rightbox img{
	padding: 10px 0 0 10px;
	max-width: 440px;
}

a.boxed{
	padding:				5px;
	background-color: 		#ff641e;
	color:					white;
}



/* FILE UPLOAD AND REMOVE----------------------------------------------- */
#leftboxes_container .col_right ul li:hover .remove, #leftboxes_container .col_left ul li:hover .remove{  /*CSS!!*/
	visibility: visible;
}
.remove{
	text-indent: 			-9000px;
	float:					right;
	visibility:				hidden;
	width:					10px;
	height:					10px;
	margin:					6px 5px 0 0;
	background:				url('/images/x_small.png');
}

#leftboxes_container .col_left ul li .remove{
	position: relative;
	top: -40px;
}
