<%= stylesheet_link_tag "add" %>
<div class="w960">
	<h2 class="maintitle">ABOUT CORALIFT</h2><br class="clear">
	<div id="widebox">
		Coralrift is a service that allows you to instantly host a simple website for free! It is designed and developed by three design students from Carnegie Mellon University &mdash; <a href="http://danepieri.com" target="_blank" class="quiet">Dane Pieri</a>, <a href="http://halfconscious.com" target="_blank" class="quiet">David Yen</a>, and <a href="http://vivianwang.com" target="_blank" class="quiet">Vivian Wang</a>. To host a website, simply follow three steps below:
		<br><br><br>
		<strong>Claim your sub domain</strong><br>
		Choose a name for your website. It can include letters, numbers, and hyphens. You can change your subdomain at anytime at the admin’s control panel.
		<br><br>
		<strong>Upload a zip file of your website</strong><br>
		Create a zip file of a website that’s ready to be hosted, upload it to Coralrift, and we’ll take care of it from there!
		<br><br>
		<strong>Done!</strong><br>
		Now you can share your new website with friends and family. If you are a registered user, your site will be indefinitely hosted on Coralrift until you decide to remove it.
		<br><br><br>
		<strong>Contact Us</strong><br>
		We really appreciate your have any questions, comments or feedback!
		<br>
		Email us at <a href="mailto:coralrift.com@gmail.com" class="quiet">coralrift.com@gmail.com</a>, or follow us on twitter <a href="http://twitter.com/coralrift" class="quiet">@coralrift</a>.<br><br>
	</div>
</div>