<%= stylesheet_link_tag "add" %>
<div class="w960">
	<h2 class="maintitle">FREQUENTLY ASKED QUESTIONS</h2><br class="clear">
	<div id="widebox">
		<strong>What is Coralrift?</strong><br>
		Coralrift is a service that allows you to instantly host a simple website for free.<br><br>

		<strong>Why is Coralrift free?</strong><br>
		Most hosting services out there today offers you many options, but for most personal and small businesses, you just want to get online without any fuss. We offer a simple service without many frills and cover your costs. <br><br>

		<strong>Why should I use Coralrift?</strong><br>
		Simple: You've made your site, let us take care of the rest.<br>
		Instant: Share your site in seconds.<br>
		And... it's free!<br><br>

		<strong>How long do you keep the site up?</strong><br>
		For registered users, the site will be hosted indefinitely until it is deleted by the user. Otherwise, the site will be hosted temporarily until midnight of the following day, then it will be deleted.<br><br>

		<strong>Can I change my subdomain name?</strong><br>
		No, but you can claim a new one if it's not already taken. <br><br>
		
		<strong>Can I direct my own domain name (like www.example.com) to my coralrift subdomain?</strong><br>
		Not right now, but its on our to-do list. <br><br>

		<strong>What file types can I upload?</strong><br>
		Coralrift can only host static sites for free. You can upload .html, .css, .js files.<br><br>

		<strong>How can I help?</strong><br>
		Help us spread the word! We would also appreciate any feedback or comments. <a href="mailto:coralrift.com@gmail.com" class="quiet">Email us</a> or @reply us on <a href="http://twitter.com/coralrift" target="_blank" class="quiet">Twitter</a>!
	</div>
</div>