<%= stylesheet_link_tag "landing" %>
<div id="whitestrip">
	<div class="w960">
		<div class="col6"><div class="col5">
			<h1>Instant Hosting for Simple Websites</h1>
			<p>Coralrift makes it easy to get your website online. Just drag and drop 
			your zipped website and choose a name. Perfect for small businesses, 
			freelancers, and prototyping!</p>
			<a href="#" class="cta">Sign up free!</a><span class="quiet">Or take it for a spin below</span>
		</div></div>
		<div class="gutter"></div>
		<div class="col6">
			<%= image_tag "promovid.jpg", :id=>"video"%>
		</div>
	</div>
</div>
<div class="w960">
	<br><br><br><br>
	<%= render :partial => 'subdomains/new'%>
	<br class="clear"><br><br><br>
	<hr>
	<span class="quiet left">Copyright 2011 coralift</span>
	<span class="quiet right">Terms / About / FAQ / Twitter / Facebook</span>
</div>