<div class="shitty_browser" style="margin-bottom:<%=margin ||= '-30px'%>">
	<%= message ||=  "The coralrift administration tools are only tested in Chrome, Safari, and Firefox. Please use one of these browsers "%>
</div>