<% if @is_shitty_browser %>
<% margin = "-30px" unless margin%>
	<div id="shitty_browser" style="margin-bottom:<%=margin%>">
		The coralrift administration tools are only tested in Chrome and Safari. Please use one of these browsers 
	</div>
<% end %>