<% if @is_shitty_browser %>
	<div id="shitty_browser" style="margin-bottom:<%=margin ||= '-30px'%>">
		The coralrift administration tools are only tested in Chrome and Safari. Please use one of these browsers 
	</div>
<% end %>